body{
    background-color: rgb(83, 83, 83);
}

img{
    max-height: 300px;
    max-width: 500px;
    margin: auto;
}

.testClass{
    height: 200px;
    width: 100%;
}

.videoBox{
    border: 2px solid gold;
    width: 50%;
    height: 100%;
    margin: auto;
}